* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: linear-gradient(0deg, #00e6e6, #000000);
  width: 100%;
  vertical-align: bottom;
  padding-top: 3em;
  text-align: center;
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.header-wave {
  border: 0;
  height: 12em;
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 480px) {
  header {
    background: linear-gradient(0deg, #311212, #db6464);
  }

@media (min-width: 768px) {
  header {
    background: linear-gradient(0deg, #123114, #68db64);
  }

@media (min-width: 1024px) {
  header {
    background: linear-gradient(0deg, #2e3112, #f5f10a);
  }
}

main {
  width: 70%;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  color: #006666;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: .3em;
  margin-bottom: 1.5em;
}

article {
  text-align: right;
}

section,
article {
  margin: 1em 0em 3em 0em;
}

footer {
  background-color: #000000;
  width: 100%;
  height: 4em;
  padding: 0.3em 0 0.3em 0;
  color: #ffffff;
  text-align: center;
}
